{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row" id="header">
		<center><h1>42 Coffee Cups Test Assignment</h1></center>
</div>

{% if data %}
<div class="col-md-3"></div>
<div class="col-md-3" id="left-col">
Name: {{ data.name }} <br>
Last name: {{ data.last_name }} <br>
Date of birth: {{ data.date_of_birth|date:"Y-m-d" }} <br>
Bio: {{ data.bio|linebreaks }} <br>
</div>

<div class="col-md-3" id="right-col">
Contacts <br>
Email: {{ data.email }} <br>
Jabber: {{ data.jabber }} <br>
Other contacts: {{ data.other_contacts|linebreaks }} <br>
</div>
{% else %}
<h2>There are no objects in database. Please, fill it and try again<h2>
{% endif %}

{% endblock %}
